@media only screen and (min-width: 1280px) {
  .container.container-about-us {
    margin-top: 96px;
  }
  
  .about-content {
    display: flex;
  }

  .about-list {
    margin-bottom: 0;
  }

  .about-image {
    display: flex;
    align-items: center;
    min-width: 310px;
    max-width: 310px;
    padding: 0 28px;
    margin-left: 32px;
  }
}
