
@media only screen and (min-width: 768px) {
	.about-content {
	  padding-top: 64px;
	}
    
  .about-list {
    flex-wrap: wrap;
		gap: 32px;
    margin-bottom: 32px;
  }

  .about-item {
    width: calc(50% - 16px);
  }

  .about-image {
    padding: 16px 0;
  }
}
