.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.about-item {
  background-color: var(--gray);
  border-radius: 16px;
  padding: 32px;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.about-number {
  display: block;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 16px;
}

.about-image {
  width: 310px;
  background: var(--green);
  border-radius: 30px;
  padding: 51px 0;
  width: 100%;
}

.memoji-image {
  width: 254px;
  height: 211px;
  margin: 0 auto;
}
