<nav class="nav-mobile">
  <button class="nav-mobile-open-btn" id="mobile-nav-open">
    <svg class="icon">
      <use href="#icon-menu"></use>
    </svg>
    <svg class="icon">
      <use href="#icon-menu-tablet"></use>
    </svg>
  </button>

  <div class="modal-overlay" id="mobile-nav-modal">
    <div class="nav-modal">
      <button class="nav-mobile-close-btn" id="mobile-nav-close">
        <svg class="icon">
          <use href="#icon-exit"></use>
        </svg>
      </button>
      <ul class="nav-list">
        <li class="nav-item"><a href="#about_us" class="nav-link">About us</a></li>
        <li class="nav-item"><a href="#our_lessons" class="nav-link">Our lessons</a></li>
        <li class="nav-item"><a href="#teachers" class="nav-link">Teachers</a></li>
        <li class="nav-item"><a href="#reviews" class="nav-link">Reviews</a></li>
        <li class="nav-item"><a href="#contact_us" class="nav-link">Contact us</a></li>
      </ul>
      <load ="partials/common/social-links.html" />
    </div>
  </div>
</nav>
