<footer class="footer" id="footer">
  <div class="container">
    <div class="upper-footer">
      <div class="logo-address-wrapper">
        <load file="partials/common/logo.html" />
        <address class="address">
          <ul class="footer-address-list">
            <li class="footer-address-item">
              <p class="footer-address">Phone number:</p>
              <a class="address-link" href="tel:+380684439426">
                +380 (68) 443-94-26
              </a>
            </li>
            <li class="footer-address-item">
              <p class="footer-address">Address:</p>
              <a class="address-link" href="https://maps.app.goo.gl/YGANNLQMaaRuU7TC9" target="_blank"> 32a M.Bazhana
                ave </a>
                <div class="map-container" style="margin-top: 20px;">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2543.352426610235!2d30.645772911911415!3d50.39726927146352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c450580cb0ef%3A0xa9ecbb77005418c9!2sMykoly%20Bazhana%20Ave%2C%2032%D0%90%2C%20Kyiv%2C%20Ukraine%2C%2002000!5e0!3m2!1sen!2ses!4v1722635684608!5m2!1sen!2ses"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </li>
          </ul>
        </address>
      </div>
      <nav class="upper-footer-nav">
        <ul class="footer-nav-list">
          <li class="nav-item">
            <a class="nav-links" href="#about_us">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-links" href="#our_lessons">Our lessons</a>
          </li>
          <li class="nav-item">
            <a class="nav-links" href="#our_teachers">Teachers</a>
          </li>
          <li class="nav-item">
            <a class="nav-links" href="#reviews">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-links" href="#contact_us">Contact us</a>
          </li>
        </ul>
      </nav>
      <div class="footer-wrapper">
        <load file="../common/social-links.html" />
      </div>
    </div>
    <div class="lower-footer">
      <p class="lower-footer-text">
        &copy;2023 English Excellence. All rights reserved.
      </p>
      <div class="lower-footer-wrapper-link">
        <a href="#" class="lower-footer-policy">Privacy Policy</a>
        <a href="#" class="lower-footer-terms">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
