<footer class="footer">
  <div class="container">
    <div class="upper-footer">
      <div class="logo-address-wrapper">
        <p class="logo-footer">
          english<span class="logo-highlight">excellence</span>.
        </p>
        <address class="address">
          <ul class="footer-address-list">
            <li class="footer-address-item">
              <p class="footer-address">Phone number:</p>
              <a class="address-link" href="tel:+380684439426">
                +380 (68) 443-94-26
              </a>
            </li>
            <li class="footer-address-item">
              <p class="footer-address">Address:</p>
              <a class="address-link" href="#"> 32a M.Bazhana ave </a>
            </li>
          </ul>
        </address>
      </div>
      <nav class="upper-footer-nav">
        <ul class="footer-nav-list">
          <li class="nav-item">
            <a class="nav-links" href="./index.html">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-links" href="./index.html">Our lessons</a>
          </li>
          <li class="nav-item">
            <a class="nav-links" href="./index.html">Teachers</a>
          </li>
          <li class="nav-item">
            <a class="nav-links" href="./index.html">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-links" href="./index.html">Contact us</a>
          </li>
        </ul>
      </nav>
      <div class="footer-wrapper">
        <ul class="social-list">
          <li class="social-item">
            <a
              href="https://www.facebook.com/goITclub"
              class="footer-social-link"
            >
              <svg width="28" height="28" class="footer-social-icon">
                <use href="#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.instagram.com/goitclub"
              class="footer-social-link"
            >
              <svg width="28" height="28" class="footer-social-icon">
                <use href="#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.youtube.com/c/GoIT" class="footer-social-link">
              <svg width="28" height="28" class="footer-social-icon">
                <use href="#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="lower-footer">
      <p class="lower-footer-text">
        &copy;2023 English Excellence. All rights reserved.
      </p>
      <div class="lower-footer-wrapper-link">
        <a href="#" class="lower-footer-policy">Privacy Policy</a>
        <a href="#" class="lower-footer-terms">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
