@media only screen and (min-width: 768px) {
  :root {
    /* Others */
    --items: 2;
    --col-indent: 32px;
    --row-indent: 32px;
  }

  .our-lessons-item {
    padding: 32px 16px;
    border-radius: 30px;
    min-height: 404px;
  }

  .lesson-price {
    line-height: 1.37;

    margin-bottom: 32px;
  }

  .lesson-description {
    font-size: 16px;
    line-height: 1.5;

    margin-bottom: 32px;
  }
}
