@media only screen and (min-width: 1280px) {
  :root {
    /* Others */
    --items: 3;
    --col-indent: 32px;
    --row-indent: 32px;
  }

  .our-lessons-item {
    padding: 32px;
  }

  .text-container {
    margin-bottom: 64px;
  }
}
