@media only screen and (min-width: 768px) {
  :root {
    /* Others */
    --items: 2;
    --col-indent: 32px;
    --row-indent: 32px;
  }

  .container.our-lessons {
    max-width: 704px;
    padding: 50px 0px;
  }

  .text-container {
    margin-bottom: 64px;
  }

  .section-title {
    font-size: 40px;
    line-height: 1.2;
  }

  .our-lessons .section-title .accent::after {
    width: 144px;
    height: 20px;
    transform: translate(-50%, 25%);
  }

  .section-text {
    font-size: 18px;
    line-height: 1.67;
  }

  .lesson-price {
    line-height: 1.37;

    margin-bottom: 32px;
  }

  .lesson-description {
    font-size: 16px;
    line-height: 1.5;

    margin-bottom: 32px;
  }
}
