<section class="container proposal-to-leave">
  <h2 class="proposal-to-leave-title">
    Master the <span class="language">Language</span> with Our English Package!
  </h2>
  <div class="card-wrapper">
    <div class="card outer-card">
      <h3 class="card-title">Power of English</h3>
      <ul class="card-content">
        <li class="card-item">
          <div class="icon-wrapper">
            <svg class="icon">
              <use href="#icon-checkmark"></use>
            </svg>
          </div>
          <p>
            Dive into captivating lessons designed to stimulate your curiosity.
          </p>
        </li>
        <li class="card-item">
          <div class="icon-wrapper">
            <svg class="icon">
              <use href="#icon-checkmark"></use>
            </svg>
          </div>
          <p>
            Learn in a nurturing setting where every student's progress matters.
          </p>
        </li>
        <li class="card-item">
          <div class="icon-wrapper">
            <svg class="icon">
              <use href="#icon-checkmark"></use>
            </svg>
          </div>
          <p>
            Experience the satisfaction of real progress as your language skills
            and confidence grow with every session.
          </p>
        </li>
      </ul>
      <a class="leave-app-btn" href="contact-us">Leave an application</a>
    </div>
    <div class="image-card"></div>
    <div class="card rotate-card rotate-2"></div>
    <div class="card rotate-card rotate-3"></div>
  </div>
</section>
