<section class="container proposal-to-leave">
  <h2 class="proposal-to-leave-title">Master the <span class="language">Language</span> with Our English Package!</h2>
  <div class="outer-card">
    <div class="card">
      <h3 class="card-title">Power of English</h3>
      <ul class="proposal-list">
        <loader file="./proposal-item.html"
          text="Dive into captivating lessons designed to stimulate your curiosity." />

        <loader file="./proposal-item.html"
          text="Learn in a nurturing setting where every student's progress matters." />

        <loader file="./proposal-item.html"
          text="Experience the satisfaction of real progress as your language skills and confidence grow with every session." />
      </ul>
      <loader file="partials/common/link-button.html" btn-class-name="leave-an-application-btn"
        btn-content="Leave an application" href="#leave_an_application" target="_self" />
      <div class="card-img"></div>
    </div>
  </div>
</section>