<section class="container">
  <div class="proposal-to-leave">
    <h2 class="proposal-to-leave-title">Master the <span class="language">Language</span> with Our English Package!</h2>
    <div class="outer-card">
      <div class="card">
        <h3 class="card-title">Power of English</h3>
        <div class="cart-description">
          <ul class="card-content">
            <li class="card-item">
              <div class="icon-wrapper">
                <svg class="icon">
                  <use href="#icon-checkmark"></use>
                </svg>
              </div>
              <p>
                Dive into captivating lessons designed to stimulate your curiosity.
              </p>
            </li>
            <li class="card-item">
              <div class="icon-wrapper">
                <svg class="icon">
                  <use href="#icon-checkmark"></use>
                </svg>
              </div>
              <p>
                Learn in a nurturing setting where every student's progress matters.
              </p>
            </li>
            <li class="card-item">
              <div class="icon-wrapper">
                <svg class="icon">
                  <use href="#icon-checkmark"></use>
                </svg>
              </div>
              <p>
                Experience the satisfaction of real progress as your language skills and confidence grow with every session.
              </p>
            </li>
          </ul>
          <a class="leave-app-btn" href="#leave_an_application">Leave an application</a>
        </div>
        <img
          class="card-img"
          src="./img/proposal-to-leave/books-stack.png"
          srcset="./img/proposal-to-leave/books-stack.png 1x, ./img/proposal-to-leave/books-stack@2x.png 2x"
          alt="book-stack"
        />
      </div>
    </div>
  </div>
</section>

