    <div class="container">
        <section class="about-section">
            <h2 class="section-title">About <span class="accent">Us</span></h2>
            <p class="section-text">We are dedicated to providing engaging and effective English language courses
                in a supportive and stimulating learning environment</p>
            <div class="about-content">
                <ol class="about-list">
                    <li class="about-item">
                        <h3>01</h3>
                        <p>Expert, innovative teaching staff</p>
                    </li>
                    <li class="about-item">
                        <h3>02</h3>
                        <p>Wide range of course levels and options</p>
                    </li>
                    <li class="about-item">
                        <h3>03</h3>
                        <p>Multicultural learning environment</p>
                    </li>
                    <li class="about-item">
                        <h3>04</h3>
                        <p>Comprehensive language support services</p>
                    </li>
                </ol>
                <div class="about-image">
                    <div class="background-rectangle"></div>
                    <img src="img/about-us/memoji.svg" alt="Smiling character" class="memoji-image" />
                </div>
            </div>
        </section>
    </div>