@media screen and (min-width: 1280px) {
  .container:has(.hero) {
    padding-top: 16px;
  }

  .hero {
    padding: 164px 64px;
    background-image: var(--gradient), url('../../img/hero/hero-desktop.jpg');
    background-image: var(--gradient), image-set(
      url('../../img/hero/hero-desktop.jpg') 1x,
      url('../../img/hero/hero-desktop@2x.jpg') 2x,
    );
  }

  .hero-title {
    max-width: 564px;
  }
}
