<section class="container" id="hero">
  <div class="hero">
    <div class="hero-content">
      <h1 class="hero-title">
        Discover the joy of learning
        <span class="highlight">English</span> with us!
      </h1>

      <loader
          file="partials/common/link-button.html"
          btn-class-name="leave-an-application-btn"
          btn-content="Leave an application"
          href="#leave_an_application"
          target="_self"
        />
      <a href="#footer" class="link-arrow" aria-label="footer-link">
        <svg class="btn-arrow-icon" width="24" height="24">
          <use href="#icon-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>