<ul class="social-links">
  <li class="social-item">
    <a href="https://www.facebook.com/goITclub" target="_blank" class="social-link">
      <svg width="28" height="28" class="icon">
        <use href="#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a href="https://www.instagram.com/goitclub" target="_blank" class="social-link">
      <svg width="28" height="28" class="icon">
        <use href="#icon-instagram"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a href="https://www.youtube.com/c/GoIT" target="_blank" class="social-link">
      <svg width="28" height="28" class="icon">
        <use href="#icon-youtube"></use>
      </svg>
    </a>
  </li>
</ul>
