.teachers-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.teacher-card {
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}

.teacher-card img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 6px;
}

.teacher-name {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.02em;
  text-align: center;
}

.teacher-description {
  font-size: 1em;
  color: rgba(18, 20, 23, 0.5);
}

/* Медіа-запити для мобільних пристроїв */
@media screen and (max-width: 374px) {
  .teachers-list {
    flex-direction: column;
    align-items: center;
  }

  .teacher-card {
    width: 90%;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .teachers-list {
    flex-direction: column;
    align-items: center;
  }
}
