.teachers-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.teacher-card {
  text-align: center;
  width: 100%;
  max-width: 200px;
  margin-bottom: 40px;
}

.teacher-card img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.teacher-name {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.teacher-description {
  font-size: 1em;
  color: rgba(18, 20, 23, 0.5);
}

/* Медіа-запити для мобільних пристроїв */
@media (max-width: 374px) {
  .teachers-list {
    flex-direction: column;
    align-items: center;
  }

  .teacher-card {
    width: 90%;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .teachers-list {
    flex-direction: column;
    align-items: center;
  }
}
