.footer {
  background: var(--black);
}

.upper-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-address-wrapper > .logo {
  color: var(--white);
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 20px;
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.9;
  padding: 4px 0;
}

.address-link {
  font-style: normal;
  color: var(--white);
  text-decoration: none;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-links {
  color: var(--white);
}

.footer .social-link {
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.lower-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.lower-footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.9;
  padding-bottom: 14px;
}

.lower-footer-policy {
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.9;
  padding-right: 18px;
}

.lower-footer-terms {
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.9;
}
