@media screen and (min-width: 768px) {
    .leave-radio-group {
      flex-direction: row;
      gap: 16px;
      margin: 0px 0px 32px 0px;
    }

    .leave-radio-label {
        font-size: 18px;
        line-height: 24px;
        padding-left: 32px;
        letter-spacing: -0.36px;
        margin-right: 1px;
      }
    
      .leave-radio-label::before {
        top: 1px;
        left: 1px;
      }
    
      .leave-radio-label::after {
        width: 10px;
        height: 10px;
        top: 6px;
        left: 6px;
      }
    
      .leave-wrapper {
        padding-top: 44px;
      }
    
      .leave-input-group {
        margin-bottom: 32px;
      }
    
      .leave-radio-group-title {
        margin-bottom: 14px;
        font-size: 20px;
      }
    
      .leave-radio-btn-title {
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 1.2;
      }
    
      .leave-title {
        margin: 0 auto 16px;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2;
      }
    
      .leave-text {
        max-width: 586px;
      }
    
      .leave-form {
        max-width: 500px;
      }
    
      .leave-form-input::placeholder {
        font-size: 16px;
        line-height: 1.5em;
      }
    
      .leave-form-input {
        min-width: 500px;
        height: 56px;
      }
    
      .teaxtarea-input {
        height: 104px;
      }
    
      .leave-form-policy {
        margin: 0;
        font-size: 14px;
        line-height: 24px;
        max-width: 100%;
        text-wrap: balance;
      }
  }

 