<section class="container reviews" id="reviews">
  <div class="text-container">
    <h2 class="section-title">
      What our <span class="accent">students</span> say
    </h2>
    <p class="section-text">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
  </div>

  <ul class="reviews-list">
    <loader
      file="./review-item.html"
      img-src="./img/reviews/student_anna.jpg"
      img-srcset="./img/reviews/student_anna.jpg 1x, ./img/reviews/student_anna@2x.jpg 2x"
      author-name="Anna"
      text="My experience at the language school has been nothing short of amazing. The teachers are dedicated and the learning environment is stimulating. I feel more confident in my English skills."
    />
    <loader
      file="./review-item.html"
      img-src="./img/reviews/student_mykhailo.jpg"
      img-srcset="./img/reviews/student_mykhailo.jpg 1x, ./img/reviews/student_mykhailo@2x.jpg 2x"
      author-name="Mykhailo"
      text="The school offers a great balance of language theory and practical exercises. The personalized feedback from the teachers has helped me improve my weak areas."
    />
    <loader
      file="./review-item.html"
      img-src="./img/reviews/student_victoria.jpg"
      img-srcset="./img/reviews/student_victoria.jpg 1x, ./img/reviews/student_victoria@2x.jpg 2x"
      author-name="Victoria"
      text="I love the dynamic and interactive teaching methods used here. It's a great place to learn English in a fun and effective way. I have definitely seen a big improvement in my language skills."
    />
  </ul>
</section>
