@import url('./nav-mobile.css');
@import url('./nav-desktop.css');

.header {
  padding: 17.5px 0;
}

.header .container {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .header .nav-desktop,
  .header .nav-desktop + .social-links {
    display: none;
  }
}
