/* Tablet styles */
@media (min-width: 768px) {
  .proposal-to-leave {
    overflow: visible;
    padding: 64px 20px;
  }

  .proposal-to-leave-title {
    font-size: 60px;
    line-height: 70px;
    padding: 0 12px;
    margin-bottom: 32px;
  }

  .card-wrapper {
    gap: -120px;
    margin-top: 60px;
    width: 667px;
    left: 50%;
    transform: translateX(-50%);
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    padding: 64px 30px;
  }

  .outer-card {
    border-radius: 30px;
  }


  .outer-card::after,
  .outer-card::before {
    border-radius: 30px;
  }

  .outer-card::after {
    transform: rotateZ(10deg) translateZ(-1px);
  }
  
  .outer-card::before {
    transform: rotateZ(-10deg) translateZ(-1px);
  }

  .card-title {
    width: 100%;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 32px;
  }

  .cart-description {
    width: 451px;
  }

  .card-img {
    display: block;
    width: 214px;
    height: 263px;
    margin-right: -220px;
    margin-top: auto;
    transform: translateX(30px);
  }

  .icon-wrapper {
    width: 28px;
    min-width: 28px;
    height: 28px;
  }

  .card-item p {
    font-size: 20px;
    line-height: 1.2;
  }

  .leave-app-btn {
    padding: 16px 64px;
    width: 306px;
    height: 60px;
    font-size: 18px;
    line-height: 1.55556;
    margin-top: 30px;
  }

  .image-card {
    position: absolute;
    top: 175px;
    right: -40px;
    width: 214px;
    height: 263px;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    background-image: url('../../img/proposal-to-leave/books-stack.png');
    z-index: 3;
    display: block;
  }
}
