/* Desktop styles */
@media only screen and (min-width: 1280px) {
  .proposal-to-leave {
    padding: 64px 64px 75px;
  }

  .proposal-to-leave .container {
    max-width: 1152px;
    padding: 64px 64px 140px;
  }

  .proposal-to-leave-title {
    max-width: 777px;
    margin: 0 0 130px 0;
  }

  .card {
    padding: 64px;
    margin-bottom: 0px;
  }

  .outer-card {
    width: 1024px;
    margin-bottom: 0px;
    transform: translateX(0);
  }

  .outer-card::after {
    transform: rotateZ(7deg) translateZ(-1px);
  }

  .outer-card::before {
    transform: rotateZ(-7deg) translateZ(-1px);
  }

  .card-title {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 40px;
  }

  .proposal-list {
    width: 653px;
    margin-bottom: 40px;
  }

  .card-img {
    top: 128px;
    right: 0px;
  }
}
