/* Mobile styles */
.proposal-to-leave {
  padding: 40px 20px;
}

.proposal-to-leave .container {
  border-radius: 16px;
  background: linear-gradient(80deg, var(--green) 0%, var(--accent-green) 150%);
  padding: 40px 20px;
  overflow: hidden;
}

.proposal-to-leave-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.05;
  color: var(--white);

  margin-bottom: 67px;
}

.proposal-to-leave-title .language {
  color: var(--accent-green);
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 16px;
  padding: 40px 20px;
  z-index: 3;
}

.outer-card {
  position: relative;
  border-radius: 16px;
  color: var(--black);
  background: var(--white);
  transform-origin: center bottom;
  transform-style: preserve-3d;
  margin-top: 40px;
  margin-bottom: 24px;
}

.outer-card::after,
.outer-card::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.outer-card::after {
  transform: rotateZ(11deg) translateZ(-1px);
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
}

.outer-card::before {
  transform: rotateZ(-9deg) translateZ(-1px);
  z-index: 1;
  background: rgba(212, 253, 225, 1);
}

.card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.proposal-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 20px;
}

.proposal-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.proposal-item-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
  color: var(--black);
}

.proposal-item-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: 20px;
  height: 20px;
  padding: 4px;
  background-color: var(--green);
  border-radius: 50%;
}

.proposal-item-icon {
  width: 100%;
  height: 100%;

  fill: transparent;
  stroke: var(--white);
}

.card-img {
  display: none;
}
