/* Mobile styles */
.container.proposal-to-leave {
  border-radius: 16px;
  width: 335px;
  height: 737px;
  background: linear-gradient(80deg, #4dc274 0%, #bee8cc 100%);
  padding: 20px;
  overflow: hidden;
}

h1 {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.05263;
  color: #fff;
  margin-top: 20px;
}

h1 .language {
  color: #bee8cc;
}

.card-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  gap: -100px;
  z-index: 2;
  transform-style: preserve-3d;
  margin-top: 40px;
}

.outer-card {
  position: relative;
  border-radius: 16px;
  width: 294px;
  height: 407px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transform-origin: center bottom;
  z-index: 3;
}

.card-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #121417;
  margin-top: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.card-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon-wrapper {
  width: 20px;
  height: 20px;
}

.card-item p {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: -0.02em;
  color: #121417;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.leave-app-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 12px;
  background: #4dc274;
  color: #fff;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71429;
  margin-top: 20px;
  width: 100%;
}

.image-card {
  width: 294px;
  height: 407px;
  background-size: cover;
  background-position: center;
  display: none;
}

.rotate-card {
  position: absolute;
  border-radius: 16px;
  width: 294px;
  height: 407px;
  top: 0;
  left: 0;
  transform-origin: center bottom;
  z-index: 2;
}

.rotate-2 {
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(-11deg);
  top: -3px;
  left: 35px;
}

.rotate-3 {
  background: #d4fde1;
  transform: rotate(9deg);
  top: -3px;
  left: -35px;
}
