/* Desktop styles */
@media (min-width: 1280px) {
  .proposal-to-leave {
    padding: 64px 64px 140px;
    width: 1152px;
  }

  .proposal-to-leave-title {
    max-width: 777px;
    margin: 0 0 130px 0;
  }

  .card {
    padding: 64px;
  }

  .cart-description {
    width: 654px;
  }

  .card-title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 40px;
  }

  .card-img {
    margin: 0 0 0 auto;
    transform: translateX(40%);
  }

  .card-item p {
    font-size: 20px;
  }

  .leave-app-btn {
    padding: 16px 64px;
    width: 306px;
    height: 60px;
    font-size: 18px;
    margin-top: 40px;
  }

}
