/* Tablet styles */
@media (min-width: 768px) {
  .container.proposal-to-leave {
    width: 704px;
    /* height: 950px; */
    /* padding: 40px; */
    overflow: visible;
    /* margin: 0 auto; */
  }

  .proposal-to-leave-title {
    font-size: 60px;
    line-height: 1.16667;
  }

  .card-wrapper {
    gap: -120px;
    margin-top: 60px;
    width: 667px;
    left: 50%;
    transform: translateX(-50%);
  }

  .outer-card {
    position: relative;
    border-radius: 30px;
    width: 667px;
    /* height: 499px; */
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transform-origin: center bottom;
    z-index: 3;
  }

  .card-title {
    font-size: 40px;
    line-height: 1.2;
    margin-top: 50px;
  }

  .card-content {
    width: 450px;
    margin-top: 30px;
  }

  .icon-wrapper {
    width: 28px;
    min-width: 28px;
    height: 28px;
  }

  .card-item p {
    font-size: 20px;
    line-height: 1.2;
  }

  .leave-app-btn {
    padding: 16px 64px;
    width: 306px;
    height: 60px;
    font-size: 18px;
    line-height: 1.55556;
    margin-top: 30px;
  }

  .image-card {
    position: absolute;
    top: 175px;
    right: -40px;
    width: 214px;
    height: 263px;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    background-image: url('../../img/proposal-to-leave/books-stack.png');
    z-index: 3;
    display: block;
  }

  .rotate-card {
    position: absolute;
    border-radius: 30px;
    width: 667px;
    height: 499px;
    top: 0;
    left: 0;
    transform-origin: center bottom;
    z-index: 2;
  }

  .rotate-2 {
    background: rgba(255, 255, 255, 0.5);
    transform: rotate(10deg);
    left: -40px;
  }

  .rotate-3 {
    background: var(--light-green);

    transform: rotate(-11deg);
    left: 55px;
  }
}
